
body {
    background-color: gainsboro;
    margin: auto;
}
* {
    box-sizing: border-box;
}

.wrap {
    min-height: calc(100vh - 89px); /*This is the sticky footer. This is doing math*/
}

header {
     background: linear-gradient( to top, gainsboro, transparent 20%);
    text-align: center; 
    background-color: #4D7F97;
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%;
  
}
footer {
    background: linear-gradient( to bottom, gainsboro, transparent 30%);
    background-color: #4D7F97;
    background-size: cover;
    text-align: center;
    padding-bottom: 35px;
    color: white;
}
.topbar {
    width: 100%;
    background: black;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 100;
    
    /* This is to have the bar scroll with the screen. (position: fixed;)*/
}

.navbar {
    
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}

.navbar li {
    font-size: 25px;
    margin-left:50px;
    display:inline-block;
    float: left;
}
.navbar a{
text-decoration: none;
display:block;
color: white;
}

.login {
   float: right;
   margin-right:10px;
}

/*Drop down content*/
.dropdown {
    position: relative;
    display: block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.dropdown-content {
    display: none;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* The listed element styling*/
.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    font-weight: 700;
}

.dropdown-content a:hover {
    background-color: rgba(69, 211, 237, 0.50);
    
}
/*^^^Drop down content^^^*/

.MainContent {
    display: flex;
    width: 90%;
    margin-left: 90px;
}

.HTMLlist {
    height: 570px;
    float: left;
    margin: 20px;
    background-color: #BADEEF;
    border: 5px solid #333366;
    border-radius: 25px;
    width: 25%;
    padding-left: 5px;
}
.HTMLlist a{
    text-decoration: none;
}


.gameSection {
    text-align:center;
	display:block;
    width: 50%;
}

.index {
    height: 570px;
    float: right;
    margin: 20px;
    background-color: #BADEEF;
    border: 5px solid #333366;
    border-radius: 25px;
    width: 25%;
    padding-left: 5px;
    text-align: center;
}

.index a{
	text-decoration:underline;
	color:blue;
}





.stylingTitleList{
    font-size:20px;
    font-weight: bold;
    margin:auto;
    padding-bottom: 15px;
}


.BorderSpace {
    border: 10px solid black;
    height: 500px;
    margin:auto;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/*below is the css for the form data*/
button{
	width:100px;
}